<h2>Logging you in...</h2>>
<form action="/token
grant_type=authorization_code&
code=AUTH_CODE_HERE__IS_JWT??&
redirect_uri=REDIRECT_URI&
client_id=test123" method="post">
    <button>No</button>
    <button type="submit">Yes</button>
</form>