<form action="{{ loginUrl }}" method="post">
    <label>Email:
        <input name="user" type="text" value="jdodsoncollins@gmail.com">
    </label>
    <label>Password:
        <input name="password" type="password" value="1234">
    </label>
    <button type="submit">Login</button>
</form>